.img-bg{
    background-image: url( 'https://images.fineartamerica.com/images-medium-large-5/broken-plate-science-photo-library.jpg');

    min-height: 940px;
    

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
